<!DOCTYPE html>
<html>
<head>
    <title>IGDb - Games, Reviews and More| Home :: IDGb</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);-->
    <!--function hideURLbar(){ window.scrollTo(0,1); } </script>-->
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/medile.css" rel='stylesheet' type='text/css' />
    <link href="/css/single.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/faqstyle.css" type="text/css" media="all" />
    <!-- banner-slider -->
    <link href="css/jquery.slidey.min.css" rel="stylesheet">
    <!-- pop-up -->
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- news-css -->
    <link rel="stylesheet" href="/news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" href="/list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/js/move-top.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/owl.carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items : 5,
                itemsDesktop : [640,5],
                itemsDesktopSmall : [414,4]

            });

        });
    </script>
    <script src="/js/simplePlayer.js"></script>
    <script>
        $("document").ready(function() {
            $("#video").simplePlayer();
        });
    </script>
</head>

<body>
    <!-- header -->
        {{> header}}
    <!-- //header -->

    <!-- bootstrap-pop-up -->
        {{> bootstrap-popup}}
    <!-- //bootstrap-pop-up -->

    <!-- nav -->
        {{> nav-inactive}}
    <!-- //nav -->

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".dropdown").hover(
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                        $(this).toggleClass('open');
                    },
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                        $(this).toggleClass('open');
                    }
            );
        });
    </script>

    <!-- single -->
    <div class="single-page-agile-main">
        <div class="container">
            <!-- /w3l-medile-movies-grids -->
            <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Game Info / {{gameinfo.title}}</li>
                </ol>
            </div>
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <div class="col-sm-8 single-left">
                        <div class="song">
                            <div class="song-info">
                                <h3>{{gameinfo.title}}</h3>
                            </div>

                            <iframe src="https://www.youtube.com/embed/{{gameinfo.video_url}}" frameborder="0" width="760" height="430"></iframe>

                        </div>
                        <div class="song-grid-right">
                            <div class="share">
                                <h5>Share this</h5>
                                <div class="single-agile-shar-buttons">
                                    <ul>
                                        <li>
                                            <div class="fb-like" data-href="https://www.facebook.com/geeksnome" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                            <script>(function(d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>
                                        </li>
                                        <li>
                                            <div class="fb-share-button" data-href="https://www.facebook.com/geeksnome" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>
                                        </li>
                                        <li class="news-twitter">
                                            <a href="https://twitter.com/geeksnome" class="twitter-follow-button" data-show-count="false">Follow @IGDb</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/intent/tweet?screen_name=geeksnome" class="twitter-mention-button" data-show-count="false">Tweet to @IGDb</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                                        </li>
                                        <li>
                                            <!-- Place this tag where you want the +1 button to render. -->
                                            <div class="g-plusone" data-size="medium"></div>

                                            <!-- Place this tag after the last +1 button tag. -->
                                            <script type="text/javascript">
                                                (function() {
                                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                                    po.src = 'https://apis.google.com/js/platform.js';
                                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                                })();
                                            </script>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>

                        <div class="all-comments">
                            <div class="">
                                <h3><a><strong>Game Info:-</strong></a></h3>
                                <hr>
                                <h4><a><strong>Title: </strong><span>{{gameinfo.title}}</span></a></h4> <br>
                                <h4><a><strong>Description:-<br></strong><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{gameinfo.description}}</span></a></h4> <br>
                                <h4><a><strong>Developed By: </strong><span>{{gameinfo.developers}}</span></a></h4> <br>
                                <h4><a><strong>Release Date: </strong><span>{{getDate gameinfo.release_date}}</span></a></h4> <br>
                                <h4><a><strong>IGDb Rating: </strong><span>{{gameinfo.rating}}/5</span></a></h4>
                                <hr>
                                <h3><a><strong>Minimum System Requirements:-</strong></a></h3>
                                <hr>
                                <h4><a><strong>Operating System: </strong><span>{{gameinfo.os}}</span></a></h4> <br>
                                <h4><a><strong>Processor: </strong><span>{{gameinfo.processor}}</span></a></h4> <br>
                                <h4><a><strong>Graphics Card: </strong><span>{{gameinfo.gpu}}</span></a></h4> <br>
                                <h4><a><strong>RAM: </strong><span>{{gameinfo.ram}} GB</span></a></h4> <br>
                                <h4><a><strong>Storage Space: </strong><span>{{gameinfo.space}}</span></a></h4>
                            </div>

                        </div>

                        <div class="all-comments">
                            <div class="all-comments-info">
                                <a href="#">Reviews</a>
                                <div class="agile-info-wthree-box">
                                    <form action="/review" method="post">
                                        <input type="text" name="username" placeholder="Display Name" required="">
                                        <input type="text" name="email" placeholder="IGDb Email" required="">
                                        <textarea name="review" placeholder="Write a Review..." required=""></textarea>
                                        <input type="hidden" name="gid" value="{{gameinfo.gid}}">
                                        <input type="submit" value="Submit Review">
                                        <div class="clearfix"> </div>
                                    </form>
                                </div>
                            </div>
                            <div class="media-grids">

                                {{#each reviews}}
                                    {{> review}}
                                {{/each}}

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- //movie-browse-agile -->
            </div>
        </div>
    </div>
    <!-- footer -->
    {{> footer}}
    <!-- //footer -->

    <!-- //Bootstrap Core JavaScript -->
    <!-- here starts scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>